body {
    background-color: black;

}

* {
    color: white;
}

p {
    gap: 40px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.heading {
    display: flex;
    gap: 20px;

}

hr.hr {
    border: 10px solid white(133, 123, 123);
    border-radius: 5px;
}

.button {
    color: white;
    text-align: center;
    display: inline-block;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 15px;
    background-color: #333333;
}

.button {
    background-color: #333333;
    color: white;
    border: 1px solid #333333;
}

.button:hover {
    background-color: #595959;
    color: white;
    border: 2px solid #595959;
}
